.chamada{
    background: pink;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}
body{
    background: black;
    margin: 0px;
    font-family: "Sacramento", cursive;
    color: rgb(95, 7, 7);
    margin-bottom: 100px;
}header{
    font-size: 35px;
    color: plum;
    border-bottom: 3px solid plum;
    padding: 20px;
}
h1{
    font-size: 40px;
}
.chamada-texto{
    margin-right: 5%;
}